.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=1200&q=80");
}
.home-bg {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.7;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.home-navbar {
  width: 100%;
  border: 0;
  display: flex;
  z-index: 1;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  color: var(--dl-color-success-500);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin-right: 50px;
  text-decoration: none;
}
.home-desktop-menu {
  display: flex;
  padding-right: var(--dl-space-space-unit);
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-button {
  color: var(--dl-color-primary-primarytext);
  text-decoration: none;
}
.home-link {
  color: var(--dl-color-primary-primarytext);
  text-decoration: none;
}
.home-link01 {
  color: var(--dl-color-primary-primarytext);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #27272D;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.home-text08 {
  color: var(--dl-color-danger-700);
}
.home-text10 {
  color: var(--dl-color-success-500);
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  fill: var(--dl-color-primary-primarytext);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-text11 {
  color: var(--dl-color-primary-primarytext);
  font-family: Verdana;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text12 {
  color: var(--dl-color-primary-primarytext);
  font-family: Verdana;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text13 {
  color: var(--dl-color-primary-primarytext);
  font-family: Verdana;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home-login {
  font-family: Poppins;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-icon04 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-icon06 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-image {
  width: 24px;
  object-fit: cover;
}
.home-image1 {
  width: 24px;
  object-fit: cover;
  text-decoration: none;
}
.home-container03 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 0;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container04 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-text14 {
  color: white;
  z-index: 1;
  text-align: center;
}
.home-text15 {
  text-align: center;
}
.home-image2 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  z-index: 0;
  position: absolute;
  object-fit: cover;
}
.home-image3 {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: none;
  position: absolute;
  object-fit: cover;
}
.home-section1 {
  width: 100%;
  height: 940px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: 35px;
  background-color: var(--dl-color-pimary-900);
}
.home-container05 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
.home-text19 {
  color: var(--dl-color-secondary-400);
  text-align: center;
  margin-bottom: -120px;
}
.home-cards-container {
  height: 633px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-container06 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-link05 {
  display: contents;
}
.home-heading {
  text-decoration: none;
}
.home-link06 {
  display: contents;
}
.home-text20 {
  text-decoration: none;
}
.home-link07 {
  display: contents;
}
.home-text21 {
  text-decoration: none;
}
.home-link08 {
  display: contents;
}
.home-text22 {
  text-decoration: none;
}
.home-link09 {
  display: contents;
}
.home-text23 {
  text-decoration: none;
}
.home-link10 {
  display: contents;
}
.home-text24 {
  text-decoration: none;
}
.home-link11 {
  display: contents;
}
.home-text25 {
  text-decoration: none;
}
.home-link12 {
  display: contents;
}
.home-text26 {
  text-decoration: none;
}
.home-link13 {
  display: contents;
}
.home-text27 {
  text-decoration: none;
}
.home-link14 {
  display: contents;
}
.home-text28 {
  text-decoration: none;
}
.home-link15 {
  display: contents;
}
.home-text29 {
  text-decoration: none;
}
.home-link16 {
  display: contents;
}
.home-text30 {
  text-decoration: none;
}
.home-container07 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-link17 {
  display: contents;
}
.home-text31 {
  color: #ffffff;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
  text-decoration: none;
}
.home-link18 {
  display: contents;
}
.home-text32 {
  text-decoration: none;
}
.home-link19 {
  display: contents;
}
.home-text33 {
  text-decoration: none;
}
.home-link20 {
  display: contents;
}
.home-text34 {
  text-decoration: none;
}
.home-link21 {
  display: contents;
}
.home-text35 {
  text-decoration: none;
}
.home-link22 {
  display: contents;
}
.home-text36 {
  text-decoration: none;
}
.home-link23 {
  display: contents;
}
.home-text37 {
  text-decoration: none;
}
.home-link24 {
  display: contents;
}
.home-text38 {
  text-decoration: none;
}
.home-link25 {
  display: contents;
}
.home-text39 {
  text-decoration: none;
}
.home-link26 {
  display: contents;
}
.home-text40 {
  text-decoration: none;
}
.home-link27 {
  display: contents;
}
.home-text41 {
  text-decoration: none;
}
.home-link28 {
  display: contents;
}
.home-text42 {
  text-decoration: none;
}
.home-work-with-us {
  display: none;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
}
.home-container08 {
  flex: 0 0 auto;
  width: 41%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container09 {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-icon08 {
  fill: var(--dl-color-secondary-500);
  width: 24px;
  height: 24px;
}
.home-text43 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text44 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text45 {
  font-weight: 300;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.home-text48 {
  font-weight: 300;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.home-text49 {
  color: var(--dl-color-secondary-400);
  font-style: normal;
  font-weight: 700;
}
.home-container10 {
  flex: 0 0 auto;
  width: 33%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: #09A6E9;
}
.home-container11 {
  width: 100%;
  height: 269px;
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius50);
  border-top-right-radius: var(--dl-radius-radius-radius50);
}
.home-image4 {
  top: auto;
  left: auto;
  width: 100%;
  bottom: 0px;
  object-fit: cover;
  margin-bottom: -1px;
}
.home-container12 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-text50 {
  font-size: 1.25rem;
}
.home-text51 {
  color: #f2f5f9ff;
  font-weight: 700;
  white-space: normal;
}
.home-text52 {
  color: #f2f5f9ff;
  margin-top: var(--dl-space-space-unit);
}
.home-section3 {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-secondary-100);
}
.home-container13 {
  width: 100%;
  height: 286px;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-services {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  align-content: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-around;
}
.home-link29 {
  display: contents;
}
.home-container14 {
  text-decoration: none;
}
.home-text54 {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.home-link30 {
  display: contents;
}
.home-container15 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  text-decoration: none;
}
.home-image6 {
  object-fit: cover;
}
.home-text55 {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.home-link31 {
  display: contents;
}
.home-container16 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  text-decoration: none;
}
.home-image7 {
  object-fit: cover;
}
.home-text56 {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.home-contact {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-image8 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .home-logo {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-logo1 {
    color: var(--dl-color-success-500);
  }
  .home-text08 {
    color: var(--dl-color-danger-700);
  }
  .home-text09 {
    color: var(--dl-color-gray-white);
  }
  .home-socials {
    margin-top: var(--dl-space-space-fiveunits);
  }
  .home-icon04 {
    fill: var(--dl-color-gray-white);
    width: 25px;
    height: 25px;
  }
  .home-icon06 {
    fill: var(--dl-color-gray-white);
    width: 25px;
    height: 25px;
  }
}
@media(max-width: 1200px) {
  .home-logo {
    color: var(--dl-color-success-500);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button1 {
    display: none;
  }
  .home-text14 {
    color: white;
  }
  .home-image2 {
    height: 801px;
  }
  .home-section1 {
    height: 961px;
  }
  .home-container05 {
    height: 950px;
  }
  .home-text23 {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
  }
  .home-section3 {
    width: 100%;
    height: 546px;
  }
  .home-text54 {
    color: var(--dl-color-gray-white);
    font-weight: 600;
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button1 {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-section3 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container13 {
    width: 100%;
  }
  .home-services {
    align-items: center;
    flex-direction: column;
  }
  .home-container15 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container16 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-work-with-us {
    margin-top: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .home-container08 {
    width: 100%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container10 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .home-logo {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-logo1 {
    color: var(--dl-color-success-500);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text08 {
    color: var(--dl-color-danger-700);
  }
  .home-text09 {
    color: var(--dl-color-gray-white);
  }
  .home-text11 {
    color: var(--dl-color-gray-white);
  }
  .home-text12 {
    text-decoration: inherit;
  }
  .home-text13 {
    color: var(--dl-color-gray-white);
    text-decoration: underline;
  }
  .home-login {
    text-decoration: underline;
  }
  .home-container04 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
